doctype html
html
  head
  body
    form(action='/user/adduser', method='POST')
      | Name:
      br
      input(type='text', name='name')
      br
      |   NRIC No:
      br
      input(type='text', name='nric')
      br
      |   Age:
      br
      input(type='number', name='age')
      br
      br
      input(type='submit', value='Submit')
