doctype html
html
  head
    title Login
  body
    form(action='/login', method='POST')
      | Login:
      br
      input(type='text', name='loginId')
      br
      |   Password:
      br
      input(type='password', name='password')
      br
      br
      input(type='submit', value='Submit')
