doctype html
html
  head
    style.
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      .button {
      display: block;
      width: 115px;
      height: 25px;
      background: #4E9CAF;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      }
  body
    a.button(href='/user/adduser') Add User
    table
      thead
        tr
          th
            | Name
          th
            | Age
          th
            | Actions
      tbody
        each user in users
          tr
            td #{user.name}
            td #{user.age}
            td
              a(href='/user/deleteuser/' + user._id) Delete
        
